@page "/"

<PageTitle>Index</PageTitle>

<h1>Inventario de Librería</h1>

Llevamos el registro de las compras y ventas de la librería.

<div id="botones">
    <a href="lista" class="btn btn-primary">Ver catálogo</a>
    <a href="presupuesto" class="btn btn-success">Presupuesto</a>
    <a href="proveedor" class="btn btn-secondary">Proveedor</a>
</div>
