@page "/lista"

<h1>Lista</h1>

<h3>Lista de Productos</h3>

<!--
<ul>
    @foreach (var producto in productos)
    {
        <li>@producto.nombre - Precio: @producto.precio</li>
    }
</ul>
-->

<!-- La página se abre en la terminal: ubicarse en la carpeta InventarioApp y escribir dotnet watch -->