@page "/presupuesto"

<h1>Presupuesto</h1>
<hr>
<p>Promoción: Con la compra de 5 unidades de un producto en promoción, el precio total tendrá un 20% de descuento.</p>
<p id="monto-activos">Activos: $<strong></strong></p>
<p id="monto-caja">Dinero en caja: $<strong></strong></p>
<p id="monto-total">Presupuesto total: $<strong></strong></p>