@page "/proveedor"
@using Clases

<h1>Catálogo del proveedor</h1>
<hr>

<a class="btn btn-secondary" @onclick="mostrarAlertCompra">Comprar productos para inventario</a>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
        </tr>
    </thead>
    <tbody>
            <!--@foreach (var producto in listaProductos){
        <tr>
            <td>@producto.nombre</td>
            <td>@producto.cantidad</td>
            <td>@producto.precioUnitarioVenta</td>
        </tr>
    }           
        -->
    </tbody>
</table>

@if(mostrarCompra){
    <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Comprar productos</h4>
        <select placeholder="Producto" id="select-producto"></select>
        <input type="number" placeholder="Cantidadw" @bind="calculos.numero1">
        <input type="number" placeholder="Cantidad" @bind="calculos.numero2">
        <button id="procesar-compra" class="btn btn-dark">Comprar</button>
        <hr>
        <p class="mb-0"><strong>Total: $@calculos.productoMultiplicacion()</strong></p>
    </div>
}

@code{
    private Calculos calculos = new Calculos();
    private bool mostrarCompra = false;

    private void mostrarAlertCompra(){
        mostrarCompra = !mostrarCompra;
    }
}